# local package
# -e .

# external requirements
mecab-python3
pandas
numexpr
bottleneck
mojimoji
gensim

# development specific requirements
flake8
mypy
jupyter
matplotlib
japanize-matplotlib
seaborn
RISE
jupyter_contrib_nbextensions
hide_code
